globalminer etherminer
globalfan 80
maxgputemp 85
stratumproxy enabled
proxywallet 0xbb229f79c56e1e71a74097e40db703dec1284144
proxypool1 eu1.ethermine.org:14444
proxypool2 us1.ethermine.org:14444
flags --cl-global-work 8192 --farm-recheck 200
lockscreen enabled
custompanel cdcleecdclee
poolemail cdcfederer@gmail.com
autoreboot 3

miner 2836ad etherminer
#wallet 2836ad cdcfederer
flg 2836ad --cl-global-work 8192 --farm-recheck 200
loc 2836ad rig001
mxt 2836ad 90
driverless 2836ad disabled
desktop 2836ad enabled


cor 2836ad  000
mem 2836ad  000
fan 2836ad  80
pwr 2836ad  105
